<div class="jumbotron align-center text-center">
  <h1 class='text-uppercase'>About our project</h1>
  <p class="mt-5">This is a student-run project built for the Informatics 133 course at UC Irvine.</p>
  <p>Participating students listed below.</p>
</div>

<div class="container align-center">
  <div class="row">
    <div class="col-md-4 text-center">
      <h2>Jimmy Bi</h2>
    </div>
    <div class="col-md-4 text-center">
      <h2>Matthew Nguyen</h2>
    </div>
    <div class="col-md-4 text-center">
      <h2>Ethan Wang</h2>
    </div>
  </div>

  <hr>

</div>